# Ignorar archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de configuración específicos de IDEs
.idea/
.vscode/

# Ignorar archivos de dependencias
node_modules/
npm-debug.log
yarn-error.log

# Ignorar archivos de compilación
/dist/
/build/

# Ignorar archivos temporales
*.tmp
*.log

# Ignorar archivos de caché
.cache/
.cached/

# Ignorar archivos de entorno
.env
.env.local
.env.development
.env.test
.env.production
